:root {
  --main-text-color: #2A2C1F;
  --secondary-text-color: #65665C;
  --button-text-color: #fff;
  --accent-color: #CF6F49;
  --main-bg-color: #fff;
  --secondary-bg-color: #F5F5F2;
  --contrast-bg-color:  #65665C;

  --header-bg-color: #939878;
  --header-top-text-color: #fff;

  --ads-main-text-color: #fff;
  --ads-secondary-text-color: #E7E8E3;

  --footer-main-bg-color: #fff;
  --footer-secondary-bg-color: #F5F5F2;

  --ui-icon-bg: #FAE8E1;
  --ui-heading-bg: #E7E8E3;
  --ui-border-color: #E7E8E3;

  --font-main: "Roboto", sans-serif; 
}