.blog {
  background-color: var(--secondary-bg-color);

  & .container {
    padding-top: 128px;
    padding-bottom: 129px;
  }

  & .section-motto {
    margin-bottom: 21px;
  }

  & .section-title {
    margin-bottom: 29px;
  }
}

.blog__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog__descr {
  max-width: 710px;

  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.5;
}

.blog__preview {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 32px;

  padding-top: 80px;
}
